#
#    █████╗ ██████╗ ███████╗███╗   ██╗ █████╗     ██████╗ ███████╗ ██████╗ ███████╗███╗   ██╗
#   ██╔══██╗██╔══██╗██╔════╝████╗  ██║██╔══██╗    ██╔══██╗██╔════╝██╔════╝ ██╔════╝████╗  ██║
#   ███████║██████╔╝█████╗  ██╔██╗ ██║███████║    ██████╔╝█████╗  ██║  ███╗█████╗  ██╔██╗ ██║
#   ██╔══██║██╔══██╗██╔══╝  ██║╚██╗██║██╔══██║    ██╔══██╗██╔══╝  ██║   ██║██╔══╝  ██║╚██╗██║
#   ██║  ██║██║  ██║███████╗██║ ╚████║██║  ██║    ██║  ██║███████╗╚██████╔╝███████╗██║ ╚████║
#   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚══════╝╚═╝  ╚═══╝
#
#
# Development Team: Zitemaker Studios
# Bug Reports: https://github.com/zitemaker/ArenaRegen/issues
# Source Code: https://github.com/zitemaker/ArenaRegen
# Discord: http://dsc.gg/zitemaker
# Documentation: https://zitemakers-organization.gitbook.io/arenaregen
# Video Tutorial: https://www.youtube.com/watch?v=Nry5jC9zjzo

prefix: "&e[&2ArenaRegen&e]"

general:
  arena-size-limit: 40000 # Maximum volume of an arena in blocks
  analyze-speed: 40000 # How many blocks to analyze per second when creating an arena
  selection-tool: GOLDEN_HOE # The item to be used as the selection tool (Valid options: https://dev.bukkit.org/projects/supplies/pages/material-list)
  preview-particle: FLAME # The particles to be used for arena previews (Valid options: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Particle.html)

regen:
  lock-arenas: true # When set to true, players cannot enter arenas while they are being regenerated.
  regen-speed-type: PRESET # PRESET or CUSTOM
  regen-speed: FAST # SLOW, NORMAL, FAST, VERYFAST, EXTREME (used if regen-speed-type is PRESET)
  custom-regen-speed: 10000 # Integer value used if regen-speed-type is CUSTOM
  track-entities: true # Whether entities should be tracked after creating an arena and removed when regenerating the arena
  regen-only-modified: false # Whether it should only regenerate modified blocks or not
  confirmation-prompt: false # Whether it should show a confirmation prompt when using the regenerate command
  players-inside-arena: # Actions to be taken on players who are inside the arena while it is regenerating
    cancel-regen: false # Cancel the regeneration
    kill: false # Kill the player
    execute-commands: false # Execute commands of your choice
    commands: # The commands to be executed
      - "say %player% is inside the arena!"
    teleport: false # Teleport the player to the location in teleport-location
    teleport-location:
      type: WORLD_SPAWN # WORLD_SPAWN, ARENA_SPAWN, CUSTOM
      world: UNCHANGED  # Optional: Only used for CUSTOM type, "UNCHANGED" or "world_name"
      coordinates:
        x: "~+5"        # "~" player's current coordinate value, "~+10"
        y: "64"
        z: "~"
        yaw: "~"    # optional "~" or ex: "25.0"
        pitch: "~"  # optional "~" or ex: "10.0"